@use "vars";
@use "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
}

html,
body,
#_nuxt {
  width: 100%;
  height: 100dvh;
}

input,
textarea,
select,
button {
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
}
